<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rc.mapper.RsmHiddenTroubleMapper">
    <update id="updateHiddenById">
        update rsm_hidden_trouble
        <set>
            <if test="hiddenTrouble.status != null">
                status = #{hiddenTrouble.status},
            </if>
            <if test="hiddenTrouble.handleImgPath != null">
                handle_img_path = #{hiddenTrouble.handleImgPath},
            </if>
            <if test="hiddenTrouble.handlerId != null">
                handler_id = #{hiddenTrouble.handlerId},
            </if>
            <if test="hiddenTrouble.rectifyDesc != null">
                rectify_desc = #{hiddenTrouble.rectifyDesc},
            </if>
            <if test="hiddenTrouble.rectifyTime != null">
                rectify_time = #{hiddenTrouble.rectifyTime},
            </if>
            <if test="hiddenTrouble.remark != null">
                remark = #{hiddenTrouble.remark},
            </if>
        </set>
            where id = #{id}
    </update>

    <select id="getHiddenTroubleList" resultType="com.rc.domain.entity.RsmHiddenTrouble">
        select * from rsm_hidden_trouble
        <where>
            <if test="status != null">
                and status = #{status}
            </if>
            <if test="troubleClassify != null">
                and trouble_classify = #{troubleClassify}
            </if>
            <if test="source != null">
                and source = #{source}
            </if>
        </where>
        ORDER BY update_time DESC
    </select>
</mapper>
