<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rc.mapper.RsmSnapshotMapper">
    <update id="handelSnapshot">
        update rsm_snapshot
        <set>
            <if test="rsmSnapshot.property != null">
                property = #{rsmSnapshot.property},
            </if>
            <if test="rsmSnapshot.approvalReply != null">
                approval_reply = #{rsmSnapshot.approvalReply},
            </if>
            <if test="rsmSnapshot.handlerId != null">
                handler_id = #{rsmSnapshot.handlerId},
            </if>
            <if test="rsmSnapshot.handlerTime != null">
                handler_time = #{rsmSnapshot.handlerTime},
            </if>
        </set>
        where id = #{id}
    </update>
    <select id="getSnapShotList" resultType="com.rc.domain.entity.RsmSnapshot">
        select * from rsm_snapshot
        <where>
            <if test="property != null">
                AND property = #{property}
            </if>
            <if test="status != null">
                AND status = #{status}
            </if>
        </where>
    </select>
</mapper>
