<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rc.mapper.RsmTaskMapper">
    <insert id="insertBatch" parameterType="java.util.List">
        INSERT INTO rsm_task (task_name, type_name, dept_name, start_time, end_time, risk_id, mandate_holder, approval_status, reviewer, task_desc, position_info, remark, create_by, create_time, update_by, update_time)
        VALUES
        <foreach collection="list" item="task" separator=",">
            (#{task.taskName}, #{task.typeName}, #{task.deptName}, #{task.startTime}, #{task.endTime}, #{task.riskId}, #{task.mandateHolder}, #{task.approvalStatus}, #{task.reviewer}, #{task.taskDesc}, #{task.positionInfo}, #{task.remark}, #{task.createBy}, #{task.createTime}, #{task.updateBy}, #{task.updateTime})
        </foreach>
    </insert>

    <update id="updateTask">
        UPDATE rsm_task
        <set>
            <if test="rsmTask.taskName != null">
                task_name = #{rsmTask.taskName},
            </if>
            <if test="rsmTask.taskDesc != null">
                task_desc = #{rsmTask.taskDesc},
            </if>
            <if test="rsmTask.startTime != null">
                start_time = #{rsmTask.startTime},
            </if>
            <if test="rsmTask.endTime != null">
                end_time = #{rsmTask.endTime},
            </if>
            <if test="rsmTask.riskId != null">
                risk_id = #{rsmTask.riskId},
            </if>
            <if test="rsmTask.mandateHolder != null">
                mandate_holder = #{rsmTask.mandateHolder},
            </if>
            <if test="rsmTask.positionInfo != null">
                position_info = #{rsmTask.positionInfo},
            </if>
            <if test="rsmTask.remark != null">
                remark = #{rsmTask.remark},
            </if>
            <if test="rsmTask.deptName != null">
                dept_name = #{rsmTask.deptName},
            </if>
            <if test="rsmTask.typeName != null">
                type_name = #{rsmTask.typeName},
            </if>

        </set>
        WHERE id = #{id}
    </update>





    <select id="getTaskList" resultType="com.rc.domain.entity.RsmTask">
    SELECT *
    FROM rsm_task
        <where>
            <if test="startTime != null and endTime != null">
                AND update_time BETWEEN #{startTime} AND #{endTime}
            </if>
            <if test="startTime != null and endTime == null">
                AND update_time &gt;= #{startTime}
            </if>
            <if test="endTime != null and startTime == null">
                AND update_time &lt;= #{endTime}
            </if>
            <if test="status != null">
                AND approval_status = #{status}
            </if>
            <if test="keyword != null">
                AND task_name LIKE concat('%',#{keyword},'%')
            </if>
        </where>
        ORDER BY update_time DESC
    </select>
</mapper>
